#
# Forked from https://github.com/takezoe/gitbucket/blob/master/contrib/gitbucket.conf
#

# Bind host
GITBUCKET_HOST={{ gitbucket_host }}

# Other Java option
GITBUCKET_JVM_OPTS={{ gitbucket_jvm_opts }}

# Data directory, holds repositories
GITBUCKET_HOME={{ gitbucket_home }}

GITBUCKET_LOG_DIR={{ gitbucket_log_dir }}

# Server port
GITBUCKET_PORT={{ gitbucket_port }}

# URL prefix for the GitBucket page (http://<host>:<port>/<prefix>/)
GITBUCKET_PREFIX={{ gitbucket_prefix }}

# Path to the WAR file
GITBUCKET_WAR_FILE={{ gitbucket_war_file }}

